.idea/
*.iml
*.ipr
*.iws
.navigation/
captures/
.externalNativeBuild/
.cxx/
local.properties

.gradle/
build/
**/build/
caches/
gradle-app.setting
!gradle-wrapper.jar

*.class
*.kt.kotlinsquash
.kotlin/

*.log
*.log.*
output.json

*.apk
*.apks
*.aab

*.DS_Store
Thumbs.db